{% extends "base.html" %}

{% load static %}



{% block content %}



 <div class="container py-5">
 
 <div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-auto">
 <h4 class="pb-2"><img align='center' class="" src="/static/img/{{ token.logo }}" alt="" width="40" height="40">
  &nbsp&nbsp {{ token.name }} ({{ token.tiker }})
 </h4>
    </div>
    <div class="col text-center">
  <h4 class="pb-2">{{ list_price.0 }} $ </h4>
    </div>
    <div class="col col-md-auto">
 <h4 class="pb-2">
  	<span class="badge {% if list_price.1  < 0 %}text-danger{% endif %}{% if list_price.1  >= 0 %}text-success{% endif %}">Ч: {{ list_price.1 }}%</span>
	<span class="badge {% if list_price.2  < 0 %}text-danger{% endif %}{% if list_price.2  >= 0 %}text-success{% endif %}">Д: {{ list_price.2 }}%</span>
	<span class="badge {% if list_price.3  < 0 %}text-danger{% endif %}{% if list_price.3  >= 0 %}text-success{% endif %}">Н: {{ list_price.3 }}%</span>
 </h4>
    </div>
  </div>
</div>
 
 <!--
 <h4 class="pb-2 border-bottom"><img align='center' class="" src="/static/img/{{ token.logo }}" alt="" width="40" height="40">
 
 &nbsp&nbsp {{ token.name }} ({{ token.tiker }}) &nbsp&nbsp {{ list_price.0 }} $
  	<span class="badge {% if list_price.1  < 0 %}text-danger{% endif %}{% if list_price.1  >= 0 %}text-success{% endif %}">Ч: {{ list_price.1 }}%</span>
	<span class="badge {% if list_price.2  < 0 %}text-danger{% endif %}{% if list_price.2  >= 0 %}text-success{% endif %}">Д: {{ list_price.2 }}%</span>
	<span class="badge {% if list_price.3  < 0 %}text-danger{% endif %}{% if list_price.3  >= 0 %}text-success{% endif %}">Н: {{ list_price.3 }}%</span>
 </h4>
 -->

 
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Цена<br>последние 7 дней</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Прогнозы на час<br>за последний день</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab3" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Прогнозы на день<br>за последнюю неделю</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab4" data-bs-toggle="tab" data-bs-target="#contact2-tab-pane" type="button" role="tab" aria-controls="contact2-tab-pane" aria-selected="false">Прогнозы на неделю<br>за последний месяц</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="tab1" tabindex="0">
  <canvas id="myChart" width="400" height="200" role="img"></canvas>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="tab2" tabindex="0">
<canvas id="myChart2" width="400" height="200" role="img"></canvas>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="tab3" tabindex="0">
<canvas id="myChart3" width="400" height="200" role="img"></canvas>
  </div>
  <div class="tab-pane fade" id="contact2-tab-pane" role="tabpanel" aria-labelledby="tab4" tabindex="0">
<canvas id="myChart4" width="400" height="200" role="img"></canvas>
  </div>
</div>
</div>
 <br>

 
<!--
<div class="container py-5">
<h5 align="center">Цена последние 7 дней</h5>
  <canvas id="myChart" width="400" height="200" role="img"></canvas>
</div>



<div class="container py-5">
<h5 align="center">Прогнозы на час за последний день</h5>
<canvas id="myChart2" width="400" height="200" role="img"></canvas>
</div>
 <br>
 
<div class="container py-5">
<h5 align="center">Прогнозы на день за последнюю неделю</h5>
<canvas id="myChart3" width="400" height="200" role="img"></canvas>
</div>
 <br>
 
 <div class="container py-5">
<h5 align="center">Прогнозы на неделю за последний месяц</h5>
<canvas id="myChart4" width="400" height="200" role="img"></canvas>
</div>
 <br>
 -->
 
<!--
{{ yyyy.0|safe }}
{{ yyyy.1|safe }}
--------------
{{ yyyy.2|safe }}
{{ yyyy.3|safe }}
-------------
{{ yyyy.4|safe }}
{{ yyyy.5|safe }}
-----------------------
{{ yyyy.6|safe }}
{{ yyyy.7|safe }}
-->




{% endblock %}


{% block scripts %}


<script>
//график цены
new Chart(document.getElementById("myChart"), {
  type: 'line',
  data: {
    labels: {{ xxxx|safe }},
    datasets: [{ 
        data: {{ zzzz }},
        label: "Цена в USD",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		backgroundColor: "#ffffff",
		pointRadius: 0,
		pointHoverRadius: 4,
		pointHitRadius: 4,
      }, 
	  
	  
    ]
  },
  options: {
    title: {
      display: true,
      text: ''
    }
  }
});

</script>

<script>
//график часовых предиктов
new Chart(document.getElementById("myChart2"), {
  type: 'line',
  
 
  
  data: {
    labels: {{ xxxx_1h|safe }},
    datasets: [{ 
        data: {{ yyyy.0|safe }},
        label: "Огонь",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.1|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; //функция возвращает значения из my_color:
						return color;
						},

		borderWidth: 0
      }, 
	{ 
        data: {{ yyyy.2|safe }},
        label: "Вода",
        //borderColor: "#8e5ea2",
        fill: false,
		tension: 0.1,
		//backgroundColor: "#0038c9",
		
		
		my_color: {{ yyyy.3|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		
		borderWidth: 0
      },
		{ 
        data: {{ yyyy.4|safe }},
        label: "Земля",
        borderColor: "#3cba9f",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.5|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  { 
        data: {{ yyyy.6|safe }},
        label: "Воздух",
        borderColor: "#c45850",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.7|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  
    ]
  },
  options: {
  

    title: {
      display: true,
      text: ''
    }
  }
});

</script>



<script>
//график дневных предиктов
new Chart(document.getElementById("myChart3"), {
  type: 'line',
  
 
  
  data: {
    labels: {{ xxxx_1d|safe }},
    datasets: [{ 
        data: {{ aaaa.0|safe }},
        label: "Дневной прогноз духа огня",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		my_color: {{ aaaa.1|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; //функция возвращает значения из my_color:
						return color;
						},

		borderWidth: 0
      }, 
	{ 
        data: {{ aaaa.2|safe }},
        label: "Дневной прогноз духа воды",
        //borderColor: "#8e5ea2",
        fill: false,
		tension: 0.1,
		//backgroundColor: "#0038c9",
		
		
		my_color: {{ aaaa.3|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		
		borderWidth: 0
      },
		{ 
        data: {{ aaaa.4|safe }},
        label: "Дневной прогноз духа земля",
        borderColor: "#3cba9f",
        fill: false,
		tension: 0.1,
		my_color: {{ aaaa.5|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  { 
        data: {{ aaaa.6|safe }},
        label: "Дневной прогноз духа воздух",
        borderColor: "#c45850",
        fill: false,
		tension: 0.1,
		my_color: {{ aaaa.7|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  
    ]
  },
  options: {
  

    title: {
      display: true,
      text: ''
    }
  }
});

</script>

<script>
//график недельных предиктов
new Chart(document.getElementById("myChart4"), {
  type: 'line',
  
 
  
  data: {
    labels: {{ xxxx_7d|safe }},
    datasets: [{ 
        data: {{ bbbb.0|safe }},
        label: "прогноз духа огня",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		my_color: {{ bbbb.1|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; //функция возвращает значения из my_color:
						return color;
						},

		borderWidth: 0
      }, 
	{ 
        data: {{ bbbb.2|safe }},
        label: "прогноз духа воды",
        //borderColor: "#8e5ea2",
        fill: false,
		tension: 0.1,
		//backgroundColor: "#0038c9",
		
		
		my_color: {{ bbbb.3|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		
		borderWidth: 0
      },
		{ 
        data: {{ bbbb.4|safe }},
        label: "прогноз духа земля",
        borderColor: "#3cba9f",
        fill: false,
		tension: 0.1,
		my_color: {{ bbbb.5|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  { 
        data: {{ bbbb.6|safe }},
        label: "прогноз духа воздух",
        borderColor: "#c45850",
        fill: false,
		tension: 0.1,
		my_color: {{ bbbb.7|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  
    ]
  },
  options: {
  

    title: {
      display: true,
      text: ''
    }
  }
});

</script>

{% endblock %}








