{% extends "base.html" %}

{% load static %}



{% block content %}



<div class="container col-xxl-8 px-4 py-5">

 <h4 class="pb-2 border-bottom"><img align='center' class="" src="/static/img/{{ token.logo }}" alt="" width="40" height="40">&nbsp&nbsp {{ token.name }} ({{ token.tiker }})</h4>

 <br>



  </div>
  



 

<div class="container py-5">
<h5 align="center">Цена последние 7 дней</h5>
  <canvas id="myChart" width="400" height="200" role="img"></canvas>
</div>





<div class="container py-5">
<h5 align="center">Прогнозы на час за последний день</h5>
<canvas id="myChart2" width="400" height="200" role="img"></canvas>
</div>
 <br>
 
<div class="container py-5">
<h5 align="center">Прогнозы на день за последнюю неделю</h5>
<canvas id="myChart3" width="400" height="200" role="img"></canvas>
</div>
 <br>
 
 <div class="container py-5">
<h5 align="center">Прогнозы на неделю за последний месяц</h5>
<canvas id="myChart4" width="400" height="200" role="img"></canvas>
</div>
 <br>
<!--
{{ yyyy.0|safe }}
{{ yyyy.1|safe }}
--------------
{{ yyyy.2|safe }}
{{ yyyy.3|safe }}
-------------
{{ yyyy.4|safe }}
{{ yyyy.5|safe }}
-----------------------
{{ yyyy.6|safe }}
{{ yyyy.7|safe }}
-->






{% endblock %}


{% block scripts %}


<script>
//график цены
new Chart(document.getElementById("myChart"), {
  type: 'line',
  data: {
    labels: {{ xxxx|safe }},
    datasets: [{ 
        data: {{ zzzz }},
        label: "Цена в USD",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		backgroundColor: "#ffffff",
      }, 
	  
	  
    ]
  },
  options: {
    title: {
      display: true,
      text: ''
    }
  }
});

</script>

<script>
//график часовых предиктов
new Chart(document.getElementById("myChart2"), {
  type: 'line',
  
 
  
  data: {
    labels: {{ xxxx_1h|safe }},
    datasets: [{ 
        data: {{ yyyy.0|safe }},
        label: "Огонь",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.1|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; //функция возвращает значения из my_color:
						return color;
						},

		borderWidth: 0
      }, 
	{ 
        data: {{ yyyy.2|safe }},
        label: "Вода",
        //borderColor: "#8e5ea2",
        fill: false,
		tension: 0.1,
		//backgroundColor: "#0038c9",
		
		
		my_color: {{ yyyy.3|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		
		borderWidth: 0
      },
		{ 
        data: {{ yyyy.4|safe }},
        label: "Земля",
        borderColor: "#3cba9f",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.5|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  { 
        data: {{ yyyy.6|safe }},
        label: "Воздух",
        borderColor: "#c45850",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.7|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  
    ]
  },
  options: {
  

    title: {
      display: true,
      text: ''
    }
  }
});

</script>



<script>
//график дневных предиктов
new Chart(document.getElementById("myChart3"), {
  type: 'line',
  
 
  
  data: {
    labels: {{ xxxx_1d|safe }},
    datasets: [{ 
        data: {{ aaaa.0|safe }},
        label: "Дневной прогноз духа огня",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		my_color: {{ aaaa.1|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; //функция возвращает значения из my_color:
						return color;
						},

		borderWidth: 0
      }, 
	{ 
        data: {{ aaaa.2|safe }},
        label: "Дневной прогноз духа воды",
        //borderColor: "#8e5ea2",
        fill: false,
		tension: 0.1,
		//backgroundColor: "#0038c9",
		
		
		my_color: {{ aaaa.3|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		
		borderWidth: 0
      },
		{ 
        data: {{ aaaa.4|safe }},
        label: "Дневной прогноз духа земля",
        borderColor: "#3cba9f",
        fill: false,
		tension: 0.1,
		my_color: {{ aaaa.5|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  { 
        data: {{ aaaa.6|safe }},
        label: "Дневной прогноз духа воздух",
        borderColor: "#c45850",
        fill: false,
		tension: 0.1,
		my_color: {{ aaaa.7|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  
    ]
  },
  options: {
  

    title: {
      display: true,
      text: ''
    }
  }
});

</script>

<script>
//график недельных предиктов
new Chart(document.getElementById("myChart4"), {
  type: 'line',
  
 
  
  data: {
    labels: {{ xxxx_7d|safe }},
    datasets: [{ 
        data: {{ bbbb.0|safe }},
        label: "прогноз духа огня",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		my_color: {{ bbbb.1|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; //функция возвращает значения из my_color:
						return color;
						},

		borderWidth: 0
      }, 
	{ 
        data: {{ bbbb.2|safe }},
        label: "прогноз духа воды",
        //borderColor: "#8e5ea2",
        fill: false,
		tension: 0.1,
		//backgroundColor: "#0038c9",
		
		
		my_color: {{ bbbb.3|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		
		borderWidth: 0
      },
		{ 
        data: {{ bbbb.4|safe }},
        label: "прогноз духа земля",
        borderColor: "#3cba9f",
        fill: false,
		tension: 0.1,
		my_color: {{ bbbb.5|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  { 
        data: {{ bbbb.6|safe }},
        label: "прогноз духа воздух",
        borderColor: "#c45850",
        fill: false,
		tension: 0.1,
		my_color: {{ bbbb.7|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color;
						return color;
						},
		borderWidth: 0
      },
	  
    ]
  },
  options: {
  

    title: {
      display: true,
      text: ''
    }
  }
});

</script>

{% endblock %}








