{% extends "base.html" %}

{% load static %}



{% block content %}



<div class="container col-xxl-8 px-4 py-5">

 <h4 class="pb-2 border-bottom"><img align='center' class="" src="/static/img/{{ token.logo }}" alt="" width="40" height="40">&nbsp&nbsp {{ token.name }} ({{ token.tiker }})</h4>

 <br>



  </div>
  



 

<div class="container py-5">
<h5 align="center">Последние 7 дней</h5>
  <canvas id="myChart" width="400" height="200" role="img"></canvas>
</div>





<div class="container py-5">
<h5 align="center">Часовые прогнозы</h5>
<canvas id="myChart2" width="400" height="200" role="img"></canvas>

 <br>
 

 
 
<!--
{{ yyyy.0|safe }}
{{ yyyy.1|safe }}
--------------
{{ yyyy.2|safe }}
{{ yyyy.3|safe }}
-------------
{{ yyyy.4|safe }}
{{ yyyy.5|safe }}
-----------------------
{{ yyyy.6|safe }}
{{ yyyy.7|safe }}
-->



</div>


{% endblock %}


{% block scripts %}


<script>

new Chart(document.getElementById("myChart"), {
  type: 'line',
  data: {
    labels: {{ xxxx|safe }},
    datasets: [{ 
        data: {{ zzzz }},
        label: "Цена в USD",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		backgroundColor: "#ffffff",
      }, 
	  
	  
    ]
  },
  options: {
    title: {
      display: true,
      text: ''
    }
  }
});

</script>

<script>

new Chart(document.getElementById("myChart2"), {
  type: 'line',
  
 
  
  data: {
    labels: {{ xxxx|safe }},
    datasets: [{ 
        data: {{ yyyy.0|safe }},
        label: "Часовой прогноз духа огня",
        borderColor: "#3e95cd",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.1|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; // resolve the value of anot	her scriptable option: 'red', 'blue' or 'green'
						return color;
						},

		borderWidth: 0
      }, 
	{ 
        data: {{ yyyy.2|safe }},
        label: "Часовой прогноз духа воды",
        //borderColor: "#8e5ea2",
        fill: false,
		tension: 0.1,
		//backgroundColor: "#0038c9",
		
		
		my_color: {{ yyyy.3|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; // resolve the value of anot	her scriptable option: 'red', 'blue' or 'green'
						return color;
						},
		
		borderWidth: 0
      },
		{ 
        data: {{ yyyy.4|safe }},
        label: "Часовой прогноз духа земля",
        borderColor: "#3cba9f",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.5|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; // resolve the value of anot	her scriptable option: 'red', 'blue' or 'green'
						return color;
						},
		borderWidth: 0
      },
	  { 
        data: {{ yyyy.6|safe }},
        label: "Часовой прогноз духа воздух",
        borderColor: "#c45850",
        fill: false,
		tension: 0.1,
		my_color: {{ yyyy.7|safe }},
		backgroundColor:  function(context, options) {
						const color = options.my_color; // resolve the value of anot	her scriptable option: 'red', 'blue' or 'green'
						return color;
						},
		borderWidth: 0
      },
	  
    ]
  },
  options: {
  

    title: {
      display: true,
      text: ''
    }
  }
});

</script>


{% endblock %}








