{% extends "base.html" %}

{% load static %}



{% block content %}


<div class="container col-xxl-8 px-4 py-5">


 {% if expert  == 'fire' %}
 
   <h5 align='center'>
 Илон Маск<br>
 
  </h5>
 <img src="/static/img/experts/ilon_foto.jpg" class="d-block mx-lg-auto img-fluid" alt="" width="200" loading="lazy">
  <h5 align='center'>
 <br>
 самый богатый человек на этой планете
  </h5>
{% endif %}
 
 {% if expert  == 'water' %}
   <h5 align='center'>
 Виталик Бутерин<br>
 
  </h5>
 <img src="/static/img/experts/vitalik_foto.jpg" class="d-block mx-lg-auto img-fluid" alt="" width="200" loading="lazy">
  <h5 align='center'>
 <br>
 придумал Ethereum, наш соотечественник
  </h5>
{% endif %}

 {% if expert  == 'earth' %}
   <h5 align='center'>
 Сатоши Накамото<br>
 
  </h5>
 <img src="/static/img/experts/satoshi_foto.jpg" class="d-block mx-lg-auto img-fluid" alt="" width="200" loading="lazy">
  <h5 align='center'>
 <br>
 придумал Bitcoin, отец криптовалют
  </h5>
{% endif %}

 {% if expert  == 'air' %}
   <h5 align='center'>
 Чанпэн Чжао<br>
 
  </h5>
 <img src="/static/img/experts/cz_foto.jpg" class="d-block mx-lg-auto img-fluid" alt="" width="200" loading="lazy">
  <h5 align='center'>
 <br>
 основатель самой крупной криптовалютной биржи
  </h5>
{% endif %} 
 
 
 
<br><br>
 

<div class="container text-center">
  <div class="row">
    <div class="col">
	<h5 align="center">Прогнозы на час (%)</h5>
	<p><small>за последние 24 часа</small></p>
<canvas id="doughnut-chart_1h" width="200" height="200"></canvas>

    </div>
    <div class="col">
	<h5 align="center">Прогнозы на день (%)</h5>
	<p><small>за последние 7 дней</small></p>
<canvas id="doughnut-chart_1d" width="200" height="200"></canvas>
    </div>
	
    <div class="col">
	<h5 align="center">Прогнозы на неделю (%)</h5>
	<p><small>за последние 30 дней</small></p>
<canvas id="doughnut-chart_7d" width="200" height="200"></canvas>
    </div>
  </div>
</div>
  </div>
  
  
  
<div class="container py-5">  
  
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Последние прогнозы</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Правильность прогнозов каждого токена по периодам</button>
  </li>
</ul>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="tab1" tabindex="0">

<table class="table table-light table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">&nbsp&nbsp&nbsp&nbspCrypta</th>
      <th scope="col" class='text-center'>Час</th>
      <th scope="col" class='text-center'>День</th>
      <th scope="col" class='text-center'>Неделя</th>
    </tr>
  </thead>
   <tbody>
   
   	{% for i in list1 %}
    <tr>
	
		
	<th scope="row"> <a href="/coins/{{ i.1 }}"><img class="" src="/static/img/{{ i.2 }}" alt="" width="32" height="32"></a>&nbsp&nbsp {{ i.0 }} ({{ i.1 }})</th>
	<td align = center class="{% if i.3  <= 0.499 %}table-danger{% endif %}{% if i.3  >= 0.5 %}table-success{% endif %}">{{ i.3 }}</td>
	<td align = center class="{% if i.4  <= 0.499 %}table-danger{% endif %}{% if i.4  >= 0.5 %}table-success{% endif %}">{{ i.4 }}</td>
	<td align = center class="{% if i.5  <= 0.499 %}table-danger{% endif %}{% if i.5  >= 0.5 %}table-success{% endif %}">{{ i.5 }}</td>


    </tr>
	{% endfor %}
	
  </tbody>

</table>

<p align='center'><small>Данные отражают степень уверенности эксперта в том, что через один час, день и неделю цена криптовалюты будет выше чем сейчас.<br>
Например: 1 - эксперт абсолютно уверен в росте, 0.5 - эксперт сомневается, 0 - эксперт уверен, что роста не будет. </small> </p>

  </div>
  
  
  
  
  
  
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="tab2" tabindex="0">

<table class="table table-light table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">&nbsp&nbsp&nbsp&nbspCrypta</th>
      <th scope="col" class='text-center'>Час</th>
      <th scope="col" class='text-center'>День</th>
      <th scope="col" class='text-center'>Неделя</th>
    </tr>
  </thead>
   <tbody>
   
   	{% for i in list2 %}
    <tr>
	
		
	<th scope="row"> <a href="/coins/{{ i.1 }}"><img class="" src="/static/img/{{ i.2 }}" alt="" width="32" height="32"></a>&nbsp&nbsp {{ i.0 }} ({{ i.1 }})</th>
	<td align = center class="{% if i.3  <= 49.9 %}table-danger{% endif %}{% if i.3  >= 50 %}table-success{% endif %}">{{ i.3 }} %</td>
	<td align = center class="{% if i.4  <= 49.9 %}table-danger{% endif %}{% if i.4  >= 50 %}table-success{% endif %}">{{ i.4 }} %</td>
	<td align = center class="{% if i.5  <= 49.9 %}table-danger{% endif %}{% if i.5  >= 50 %}table-success{% endif %}">{{ i.5 }} %</td>


    </tr>
	{% endfor %}
	
  </tbody>
</table>

<p align='center'><small>Данные отражают насколько правильно эксперт делает прогнозы. <br>
Прогноз считается правильным если эксперт дал оценку больше чем 0.5 и цена выросла,<br>или эксперт дал оценку меньше чем 0.5 и цена уменьшилась. </small> </p>

  </div>
</div>
</div>

  
  
  






{% endblock %}


{% block scripts %}



<script>

let temp1 = 1 - {{ percent_1h|safe }};
new Chart(document.getElementById("doughnut-chart_1h"), {
    type: 'doughnut',
    data: {
      labels: ["Неправильные", "Правильные"],
      datasets: [
        {
          label: "",
          backgroundColor: ["#c45850", "#3cba9f"],
          data: [temp1, {{ percent_1h|safe }}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: ''
      }
    }
});
</script>


<script>

let temp2 = 1 - {{ percent_1d|safe }};
new Chart(document.getElementById("doughnut-chart_1d"), {
    type: 'doughnut',
    data: {
      labels: ["Неправильные", "Правильные"],
      datasets: [
        {
          label: "",
          backgroundColor: ["#c45850", "#3cba9f"],
          data: [temp2, {{ percent_1d|safe }}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: ''
      }
    }
});
</script>


<script>

let temp3 = 1 - {{ percent_7d|safe }};
new Chart(document.getElementById("doughnut-chart_7d"), {
    type: 'doughnut',
    data: {
      labels: ["Неправильные", "Правильные"],
      datasets: [
        {
          label: "",
          backgroundColor: ["#c45850", "#3cba9f"],
          data: [temp3, {{ percent_7d|safe }}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: ''
      }
    }
});
</script>


{% endblock %}








