{% extends "base.html" %}

{% load static %}



{% block content %}


    

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/img/comics/{{ comics }}" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
      </div>
      <div class="col-lg-6">
	    <h1 class="display-5 fw-bold lh-1 mb-3">Четыре эксперта</h1>
		<p class="fs-4"><br>Не нужно гадать.<br>Спроси у экспертов!<br><br>Прогнозы роста цены <b>криптовалют</b> через</p>
		       
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
		  <a href="./predict/hour/" class="btn btn-dark btn-lg px-4 me-md-2" role="button">Час</a>
		  <a href="./predict/day/" class="btn btn-dark btn-lg px-4 me-md-2" role="button">День</a>
		  <a href="./predict/week/" class="btn btn-dark btn-lg px-4 me-md-2" role="button">Неделю</a>
        </div>
		<br>
		<p><small><font color='red'>Дисклеймер:</font><br>Администрация сайта не несет ответственность за Ваши действия.
		<br>Рынок криптовалют непредсказуем.
		<br>Эксперты не настоящие (они нарисованные).</small></p>
		
		
		<a href="https://t.me/four_experts" target="_blank" class="text-decoration-none text-black">
		<button type="button" class="btn btn-outline-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"></path>
</svg>
                Наш Telegram
              </button>
			  </a>
		
		
      </div>
    </div>
	

	
  </div>
      

  
{% endblock %}


{% block scripts %}



{% endblock %}








