{% extends "base.html" %}

{% load static %}



{% block content %}


    

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static "img/sham.svg"%}" class="d-block mx-lg-auto img-fluid" alt="" width="250" loading="lazy">
      </div>
      <div class="col-lg-6">
	    <h1 class="display-5 fw-bold lh-1 mb-3">4Experts</h1>
		<p class="fs-4"><br>Не нужно гадать.<br>Спроси у экспертов!<br><br>Прогнозы роста цены <b>криптовалют</b> через</p>
		       
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
		  <a href="./predict/hour/" class="btn btn-dark btn-lg px-4 me-md-2" role="button">Час</a>
		  <a href="./predict/day/" class="btn btn-dark btn-lg px-4 me-md-2" role="button">День</a>
		  <a href="./predict/week/" class="btn btn-dark btn-lg px-4 me-md-2" role="button">Неделю</a>
        </div>
		
      </div>
    </div>
  </div>
      

  
{% endblock %}


{% block scripts %}



{% endblock %}








