{% extends "base.html" %}

{% load static %}



{% block content %}


<div class="container col-xxl-8 px-4 py-5">

 <h3 align='center'>Прогноз роста цены криптовалют через 1 день!</h3>

<p align='center'><small>Данные отражают степень уверенности экспертов в том, что через один день цена криптовалюты будет выше чем сейчас.<br>
Например: 1 - эксперт абсолютно уверен в росте, 0.5 - эксперт сомневается, 0 - эксперт уверен, что роста не будет. </small> </p>

<table class="table table-secondary table-striped">

  <thead>
    <tr>
      <th scope="col">&nbsp&nbsp&nbsp&nbspCrypta</th>
      <th scope="col"><a href="/ilon"><img src="/static/img/experts/ilon_icon.png" class="d-block mx-lg-auto img-fluid" alt="" width="45" loading="lazy" title = 'Илон Маск'></a></th>
      <th scope="col"><a href="/vitalik"><img src="/static/img/experts/vitalik_icon.png" class="d-block mx-lg-auto img-fluid" alt="" width="45" loading="lazy" title = 'Виталик Бутерин'></a></th>
      <th scope="col"><a href="/satoshi"><img src="/static/img/experts/satoshi_icon.png" class="d-block mx-lg-auto img-fluid" alt="" width="45" loading="lazy" title = 'Сатоши Накамото'></a></th>
	  <th scope="col"><a href="/chanpen"><img src="/static/img/experts/cz_icon.png" class="d-block mx-lg-auto img-fluid" alt="" width="45" loading="lazy" title = 'Чанпен Чжао'></a></th>
    </tr>
  </thead>
   <tbody>
   
   	{% for i in list1 %}
    <tr>
	
		
	<th scope="row"> <a href="/coins/{{ i.1 }}"><img class="" src="/static/img/{{ i.2 }}" alt="" width="32" height="32"></a>&nbsp&nbsp {{ i.0 }} ({{ i.1 }})</th>
	<td align = center class="{% if i.3  <= 0.499 %}table-danger{% endif %}{% if i.3  >= 0.5 %}table-success{% endif %}">{{ i.3 }}</td>
	<td align = center class="{% if i.4  <= 0.499 %}table-danger{% endif %}{% if i.4  >= 0.5 %}table-success{% endif %}">{{ i.4 }}</td>
	<td align = center class="{% if i.5  <= 0.499 %}table-danger{% endif %}{% if i.5  >= 0.5 %}table-success{% endif %}">{{ i.5 }}</td>
	<td align = center class="{% if i.6  <= 0.499 %}table-danger{% endif %}{% if i.6  >= 0.5 %}table-success{% endif %}">{{ i.6 }}</td> 

    </tr>
	{% endfor %}
	
  </tbody>

</table>



  </div>
  


<div class="container py-5">




	 
	 <br>
	
	<br>
	


</div>


{% endblock %}


{% block scripts %}



{% endblock %}








