{% extends "base.html" %}

{% load static %}



{% block content %}


<div class="container col-xxl-8 px-4 py-5">

 <h5 align='center'>RRR</h5><br><br>

  
{{ spirit }} <br>
1H true: {{ percent_1h }} <br>
1D true: {{ percent_1d }} <br>
7D true: {{ percent_7d }} <br>
Правельных 1H: {{ true_count_1h }}<br>
Не Правельных 1H: {{ false_count_1h }}<br>
Правельных 1D: {{ true_count_1d }}<br>
Не Правельных 1D: {{ false_count_1d }}<br>
Правельных 7D: {{ true_count_7d }}<br>
Не Правельных 7D: {{ false_count_7d }}<br>


{{ list2 }}
  </div>
  


<div class="container py-5">


<table class="table table-light table-striped">

  <thead>
    <tr>
      <th scope="col">&nbsp&nbsp&nbsp&nbspCrypta</th>
      <th scope="col" align = center>Час</th>
      <th scope="col" align = center>День</th>
      <th scope="col" align = center>Неделя</th>
    </tr>
  </thead>
   <tbody>
   
   	{% for i in list1 %}
    <tr>
	
		
	<th scope="row"> <a href="/"><img class="" src="/static/img/{{ i.2 }}" alt="" width="32" height="32"></a>&nbsp&nbsp {{ i.0 }} ({{ i.1 }})</th>
	<td align = center class="{% if i.3  <= 0.499 %}table-danger{% endif %}{% if i.3  >= 0.5 %}table-success{% endif %}">{{ i.3 }}</td>
	<td align = center class="{% if i.4  <= 0.499 %}table-danger{% endif %}{% if i.4  >= 0.5 %}table-success{% endif %}">{{ i.4 }}</td>
	<td align = center class="{% if i.5  <= 0.499 %}table-danger{% endif %}{% if i.5  >= 0.5 %}table-success{% endif %}">{{ i.5 }}</td>


    </tr>
	{% endfor %}
	
  </tbody>

</table>


</div>


{% endblock %}


{% block scripts %}



{% endblock %}








