{% extends "base.html" %}

{% load static %}



{% block content %}


<div class="container col-xxl-8 px-4 py-5">

 <h5 align='center'>{{ spirit }}</h5><br><br>
 

<div class="container text-center">
  <div class="row">
    <div class="col">
	<h5 align="center">Прогнозы на час (%)</h5>
<canvas id="doughnut-chart_1h" width="200" height="200"></canvas>

    </div>
    <div class="col">
	<h5 align="center">Прогнозы на день (%)</h5>
<canvas id="doughnut-chart_1d" width="200" height="200"></canvas>
    </div>
    <div class="col">
	<h5 align="center">Прогнозы на неделю (%)</h5>
<canvas id="doughnut-chart_7d" width="200" height="200"></canvas>
    </div>
  </div>
</div>
  </div>
  
  
  
<div class="container py-5">  
  
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Последние прогнозы</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Правильность прогнозов каждого токена по периодам</button>
  </li>
</ul>



<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="tab1" tabindex="0">

<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">&nbsp&nbsp&nbsp&nbspCrypta</th>
      <th scope="col" align = center>Час</th>
      <th scope="col" align = center>День</th>
      <th scope="col" align = center>Неделя</th>
    </tr>
  </thead>
   <tbody>
   
   	{% for i in list1 %}
    <tr>
	
		
	<th scope="row"> <a href="/coins/{{ i.1 }}"><img class="" src="/static/img/{{ i.2 }}" alt="" width="32" height="32"></a>&nbsp&nbsp {{ i.0 }} ({{ i.1 }})</th>
	<td align = center class="{% if i.3  <= 0.499 %}table-danger{% endif %}{% if i.3  >= 0.5 %}table-success{% endif %}">{{ i.3 }}</td>
	<td align = center class="{% if i.4  <= 0.499 %}table-danger{% endif %}{% if i.4  >= 0.5 %}table-success{% endif %}">{{ i.4 }}</td>
	<td align = center class="{% if i.5  <= 0.499 %}table-danger{% endif %}{% if i.5  >= 0.5 %}table-success{% endif %}">{{ i.5 }}</td>


    </tr>
	{% endfor %}
	
  </tbody>

</table>

  </div>
  
  
  
  
  
  
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="tab2" tabindex="0">

<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">&nbsp&nbsp&nbsp&nbspCrypta</th>
      <th scope="col" align = center>Час</th>
      <th scope="col" align = center>День</th>
      <th scope="col" align = center>Неделя</th>
    </tr>
  </thead>
   <tbody>
   
   	{% for i in list2 %}
    <tr>
	
		
	<th scope="row"> <a href="/coins/{{ i.1 }}"><img class="" src="/static/img/{{ i.2 }}" alt="" width="32" height="32"></a>&nbsp&nbsp {{ i.0 }} ({{ i.1 }})</th>
	<td align = center class="{% if i.3  <= 0.499 %}table-danger{% endif %}{% if i.3  >= 0.5 %}table-success{% endif %}">{{ i.3 }}</td>
	<td align = center class="{% if i.4  <= 0.499 %}table-danger{% endif %}{% if i.4  >= 0.5 %}table-success{% endif %}">{{ i.4 }}</td>
	<td align = center class="{% if i.5  <= 0.499 %}table-danger{% endif %}{% if i.5  >= 0.5 %}table-success{% endif %}">{{ i.5 }}</td>


    </tr>
	{% endfor %}
	
  </tbody>
</table>


  </div>
</div>
</div>

  
  
  






{% endblock %}


{% block scripts %}



<script>

let temp1 = 1 - {{ percent_1h|safe }};
new Chart(document.getElementById("doughnut-chart_1h"), {
    type: 'doughnut',
    data: {
      labels: ["Неправильные", "Правильные"],
      datasets: [
        {
          label: "",
          backgroundColor: ["#c45850", "#3cba9f"],
          data: [temp1, {{ percent_1h|safe }}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: ''
      }
    }
});
</script>


<script>

let temp2 = 1 - {{ percent_1d|safe }};
new Chart(document.getElementById("doughnut-chart_1d"), {
    type: 'doughnut',
    data: {
      labels: ["Неправильные", "Правильные"],
      datasets: [
        {
          label: "",
          backgroundColor: ["#c45850", "#3cba9f"],
          data: [temp2, {{ percent_1d|safe }}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: ''
      }
    }
});
</script>


<script>

let temp3 = 1 - {{ percent_7d|safe }};
new Chart(document.getElementById("doughnut-chart_7d"), {
    type: 'doughnut',
    data: {
      labels: ["Неправильные", "Правильные"],
      datasets: [
        {
          label: "",
          backgroundColor: ["#c45850", "#3cba9f"],
          data: [temp3, {{ percent_7d|safe }}]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: ''
      }
    }
});
</script>


{% endblock %}








